<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom"
      xmlns:opds="http://opds-spec.org/2010/catalog">
  <id>urn:buukuu:tags</id>
  <title>Tags</title>
  <updated>{{ now_iso }}</updated>
  <link rel="self" type="application/atom+xml;profile=opds-catalog;kind=navigation" href="{{ base_url }}/opds/tags"/>
  <link rel="start" type="application/atom+xml;profile=opds-catalog;kind=navigation" href="{{ base_url }}/opds"/>

  {% for tag in tags %}
  <entry>
    <title>{{ tag.name }}</title>
    <id>urn:buukuu:tag:{{ tag.id }}</id>
    <updated>{{ now_iso }}</updated>
    <content type="text">{{ tag.books|length }} book(s)</content>
    <link rel="subsection" type="application/atom+xml;profile=opds-catalog;kind=acquisition" href="{{ base_url }}/opds/tags/{{ tag.id }}"/>
  </entry>
  {% endfor %}
</feed>
